@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#title{
    display: flex;
}

#left_title{
    width: 66%;
}

#right_title{
    margin-top: 1%;
}

select {
    background: rgba(72, 59, 59, 0.3);
    color: #fff;
}

#main_title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
}
#modalita{
    text-align: right;
    color: #ffffff;
    margin-bottom: 0;
}

.chat-container {
    width: 90%;
    height: 90vh;
    background-color: #323232;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

#chatBox {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}

.message {
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 18px;
    max-width: 80%;
    word-wrap: break-word;
}

.client {
    background-color: #5100a1;
    color: white;
    align-self: flex-end;
    margin-left: auto;
}

.server {
    background-color: #d2daff;
    color: #000000;
    align-self: flex-start;
}

#messageForm {
    display: flex;
    padding: 15px;
    background-color: #383838;
    border-top: 1px solid #ffffff;
}

#messageInput {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #474747;
    color: white;
    background-color: #474747;
    border-radius: 20px;
    font-size: 16px;
}

button {
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #0056b3;
}
