<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="{{url_for('static', filename='script.js')}}"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoboGPT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="chat-container">
        <h1>BoboGPT</h1>
        <div id="chatBox"></div>
        <form id="messageForm">
            <div contenteditable="true" id="messageInput"></div>
            <button type="submit">&#10003</button>
        </form>
    </div>
</body>
</html>

